@tailwind base;
@tailwind components;
@tailwind utilities;

/* Data flow animation keyframes */
@keyframes code-1 { 0%{opacity:0;} 2.5%{opacity:1;} 97.5%{opacity:1;} 100%{opacity:0;} }
@keyframes code-2 { 16.2%{opacity:0;} 18.75%{opacity:1;} 97.5%{opacity:1;} 100%{opacity:0;} }
@keyframes code-3 { 32.5%{opacity:0;} 35%{opacity:1;} 97.5%{opacity:1;} 100%{opacity:0;} }
@keyframes code-4 { 48.75%{opacity:0;} 51.25%{opacity:1;} 97.5%{opacity:1;} 100%{opacity:0;} }
@keyframes code-5 { 65%{opacity:0;} 72.5%{opacity:1;} 97.5%{opacity:1;} 100%{opacity:0;} }
@keyframes code-6 { 81.25%{opacity:0;} 83.75%{opacity:1;} 97.5%{opacity:1;} 100%{opacity:0;} }

@keyframes breath {
  0%, 100% { transform: scale(0.95); }
  50% { transform: scale(1.1); }
}

@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-5%); }
}

@keyframes line {
  0%, 100% { left: 0; opacity: 0; }
  50% { left: 100%; transform: translateX(-100%); }
  10%, 40%, 60%, 90% { opacity: 0; }
  25%, 75% { opacity: 1; }
}

@keyframes infinite-scroll {
  from { transform: translateX(0); }
  to { transform: translateX(-100%); }
}

@layer utilities {
  .animate-code-1 { animation: code-1 10s ease-in-out infinite; }
  .animate-code-2 { animation: code-2 10s ease-in-out infinite; }
  .animate-code-3 { animation: code-3 10s ease-in-out infinite; }
  .animate-code-4 { animation: code-4 10s ease-in-out infinite; }
  .animate-code-5 { animation: code-5 10s ease-in-out infinite; }
  .animate-code-6 { animation: code-6 10s ease-in-out infinite; }
  .animate-breath { animation: breath 8s ease-in-out infinite both; }
  .animate-line { animation: line 10s ease-in-out infinite; }
  .animate-infinite-scroll { animation: infinite-scroll 25s linear infinite; }
}